@import "./../../styles/lib";

.Objectives {
  max-width: $post-max-width;
  margin: 0 auto;
  padding: 36px !important;
  border-radius: 24px;
  margin-top: 1rem;
  background-image: url("../../images/background-feature.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  box-shadow: $box-shadow__feature;

  h2 {
    padding: 0 !important;
    margin-bottom: 1.25rem !important;
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    padding-left: 0 !important;
    margin: 0 !important;

    li {
      line-height: 155%;
      margin-bottom: 0.9em;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    @media (max-width: 600px) {
      padding-left: 0;
    }
  }

  @media (max-width: 1000px) {
    margin-top: 2em;
  }

  @media (max-width: 600px) {
    padding-top: 0.75em;
    margin-top: 1em;
    margin-bottom: 0em;

    ul {
      li {
        // text-indent: -1.8rem;
      }
    }
  }

  @media (max-width: $media-mobile) {
    margin-top: 10px;
  }
}
