@import "../../styles/lib.scss";

.SpinningImgs {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 850px) {
      text-align: center;
    }
  }

  &__img {
    margin-left: 1em;
    margin-right: 1em;
    transition: 150ms ease-out all;

    &:hover {
      transform: scale(1.5);
      transition: 150ms ease-out all;
      z-index: 1;
    }
    @media (max-width: 850px) {
      text-align: center;
    }
  }

  &__message {
    width: 300px;
    margin: 0 auto;
    text-align: left;
    transform: translateX(17px);
    color: $white;

    @media (max-width: 850px) {
      text-align: center;
    }
  }
}
