//@import "../../styles/colors.scss";
@import "./../../styles/lib";

.PageHero {
  background: linear-gradient(
    191.65deg,
    rgba(83, 147, 254, 0.48) 8.24%,
    #f7d9e6 92.93%
  );
  overflow: hidden;
  padding: 6em 2em 1.5em;
  position: relative;
  border-radius: 12px;

  @media (max-width: $media-desktop) {
    padding-top: 4em;
    padding-bottom: 0;
  }

  @media (max-width: 600px) {
    padding-top: 2em;
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 3px;

    &__container {
      align-items: center;
      max-width: 1300px;
      margin: 0 auto;
      width: 100%;
      padding-inline: 3em;
      
      > * {
        border-radius: 12px !important;
      }

      @media (max-width: $media-desktop) {
        grid-template-columns: 2fr 0 1fr;
      }

      @media (max-width: $media-mobile) {
        padding-inline: 2rem;
      }
    }
  }
}
