// new colors
$space-black: #303036;
$astral-grey: #333333;
$astral-black: #171819;
$astral-white: #e5e5e5;

$primary-main: #ffc793;
$primary-light: #ffe1c5;
$primary-lighter: #fff1e4;
$secondary-main: #0f0e29;
$secondary-light: #0f0e29;

$grey-900: #111010;
$grey-800: #3d3f42;
$grey-700: #7d7f81;
$grey-600: #a9aaab;

$grey-500: #000000;
$grey-400: #3d3d3d;
$grey-300: #979797;
$grey-200: #f6f6f6;
$grey-100: #ffffff;

$blue-800: #2a4a7f;
$blue-700: #3a67b2;
$blue-600: #4b84e5;
$blue-500: #5393fe;
$blue-400: #73abff;
$blue-300: #cbdfff;
$blue-100: #f1f8ff;

$pink-500: #e180f9;
$pink-400: #cf9cff;

// From old build
$white: $grey-100;
$black: $grey-500;
$beige: #fcede5;
$green: #5fb23b;
$red: #f35d59;
$salmon: #ff8075;
$box-shadow__button: 0px 0px 23px rgba($primary-main, 0.5);
$box-shadow__image--grey: 0 17px 56px rgba($grey-700, 0.17);
$box-shadow__button--grey: 0 2px 6px 0px rgba(65, 145, 255, 0.25);
$box-shadow__button--blue: 0 2px 8px rgba(0, 47, 125, 0.2);
