@import "./../../styles/lib";

.Header {
  //Shrink height for react-headroom scrub peep

  &__headroom {
    z-index: 300;

    .headroom:not(.headroom--scrolled) {
      .Header__container--knockoutColors {
        .Header__link {
          color: $white;

          &:hover {
            opacity: 0.75;
            color: white;
          }
        }
      }
    }

    .headroom--scrolled {
      background: $background;
      box-shadow: 0 4px 20px 0 rgba($astral-grey, 0.5);

      .Header__logo {
        .Logo {
          width: 55px;
          height: 44px;
          transition: all 100ms ease-out;
        }
      }
    }
  }

  &__container {
    padding: 1.5em 4em;

    @media (max-width: $media-mobile) {
      padding: 1.5em 0 0.65em;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-tablet) {
      flex-direction: column;
    }
  }

  &__logo {
    text-decoration: none;
    display: flex;
    justify-content: center;

    @media (max-width: $media-mobile) {
      margin-bottom: 12px;
    }

    @media (max-width: $media-tablet) {
      margin-bottom: 24px;
    }

    &::after {
      content: none;
    }

    &__container {
      width: 173px;
      display: block;
      margin-bottom: 0;

      @media (max-width: $media-tablet) {
        position: relative;
      }

      @media (max-width: $media-mobile) {
        height: 40px;
      }
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 4em;
    justify-content: flex-end;
    width: 100%;

    @media (max-width: $media-tablet) {
      grid-gap: 2em;
      justify-content: center;
    }

    .Header__link {
      color: $white;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      font-weight: 400;
      font-size: 1.25em;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      display: block;
      position: relative;
  
      &:hover {
        color: $primary-main;
        text-decoration: underline;
      }

      @media (max-width: $media-mobile) {
        font-size: 1rem;
      }
  
      @media (max-width: $media-tablet) {
        padding-bottom: 0.25em;
      }
    }
  }
}
