@import "../../styles/lib.scss";

.Intro {
  $header-height: 90px;

  height: calc(100vh - #{$header-height});
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $media-mobile) {
    min-height: 27em;
    padding-top: 20%;
    margin-bottom: 3rem;
    justify-content: start;
  }

  &__header {
    font-family: $font-secondary;
    font-size: 3.75rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 44px;
    animation: fade--up 1s ease-out;
    max-width: 880px;
    line-height: 1.2;
    opacity: 0;
    animation: fadeUpSmall 800ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 250ms;

    @media (max-width: $media-mobile) {
      font-size: 2.25rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 24px;

    &__button {
      opacity: 0;
      animation: fadeUpSmall 800ms ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 250ms;
      width: fit-content;

      &:hover {
        transform: translateY(10px);
      }
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__image_container {
    width: 40vw;
    display: block;

    @media (max-width: 1100px) {
      width: 60vw;
    }

    @media (max-width: $media-tablet) {
      position: relative;
      width: 60vw;
    }
  }
}

@keyframes avatar--fade--shrink {
  0% {
    opacity: 1;
    height: 80px;
  }

  50% {
    opacity: 0;
    height: 80px;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}
