@import "../../styles/lib.scss";

.Features {
  &__container {
    padding-top: 10vh;
    padding-bottom: 8em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-gap: 3em;
    }
  }

  &__item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 24px;
    border-radius: 8px;

    &:hover {
      filter: drop-shadow(0px 0px 30px rgba(0, 139, 234, 0.2));
      backdrop-filter: blur(88px);
    }

    &__title {
      font-family: $font-primary;
      font-size: 34px;
      color: $white;
      margin: 0 0 32px;
    }

    &__subtitle {
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: 700;
      color: $white;
      margin-bottom: 12px;
    }

    &__description {
      font-family: $font-secondary;
      font-size: 16px;
      margin: 0;
    }
  }
}
