@import "../../styles/lib.scss";

.Footer {
  margin-top: 5em;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  height: $footer-height-desktop;
  transition: all 150ms linear;
  background: $secondary-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $grey-200;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 180%;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  z-index: 9;
  position: relative;

  @media (max-width: 850px) {
    flex-direction: column;
  }

  &__container {
    width: 100%;
    margin-top: auto;
  }

  &__copyright {
    &__container {
      line-height: 180%;
      text-align: right;

      @media (max-width: 850px) {
        font-size: 9px;
        text-align: center;
      }
    }

    @media (min-width: 1700px) {
      max-width: $max-width__content--l;
    }
  }

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    height: $footer-height-mobile;
    padding: 1em 0;

    &__container {
      padding-top: 2em;
    }
  }
}
